@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

h1,
li {
  color: white;
}

li::marker {
  color: rgb(133, 228, 228);
  font-size: 1.3rem;
}
