@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    scroll-behavior: smooth;
}

.left-50 {
     left: 50%;
}
.right-50 {
     right: 50%;
}
.top-50 {
     top: 50%;
}
.bottom-50 {
     bottom: 50%;
}